.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 3rem;
  padding: 1rem;
  background: var(--ifm-color-primary-lightest);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 1rem 0;
  }

  .featureIcon {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
  }
}